header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: muli;
  font-weight: 700;
}

.nav__items {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav__item {
  text-decoration: none;
  padding: 0 1rem;
  font-family: quicksand;
  color: #999999;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav__item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}