@import '../partials';

header {
  padding: 3rem 1.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  
  nav {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    a {
      font-family: muli;
      font-weight: 900;
      color: #4e4e4e;
    }
  }
}

.nav__items {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav__item {
  text-decoration: none;
  padding: 0 1rem;
  font-family: quicksand;
  color: #999999;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav__item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

@media (min-width: 320px) and (max-width: 480px) {

  .nav__item {
    display: none;
  }

  header {
    background-color: #e9e9e9;
    padding: 2rem 1.5rem;
  }
}