.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.content {
  flex-grow: 1;
}

footer {
  height: 5rem;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.childContainer {
  margin-top: 60px;
}