.main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}

.blog__item {
  background-color: #d1d1d1;
  margin: 1rem 0;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: #1b1b1b;
}