@import '../partials';

.container {
  width: 80%;
  margin: 0 auto 50px;
  text-align: center;
}

a {
  text-decoration: none;
}

/***************
* LANDING PAGE *
***************/

.hero {
  font-size: 60px;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.landing {
  height: 80vh;
  min-height: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-btn {
  background-color: black;
  display: inline-flex;
  height: 60px;
  position: relative;
  border-radius: 30px;
  transition: all 0.15s ease-in-out;
  
  a {
    padding: 28px 55px 28px 40px;
    color: white;
    font-weight: 700;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    line-height: 0;
  }

  .btn-arrow {
    position: absolute;
    display: inline-block;
    background: url(../../images/right-arrow-sml.svg) center center no-repeat;
    opacity: .5;
    margin-left: 10px;
    width: 14px;
    height: 20px;
    top: 50%;
    transform: translate(0, -50%);
    transition: 0.15s ease-in-out;
  }

  a:hover {
    .btn-arrow {
      opacity: 1;
      margin-left: 12px;
    }
  }
}

.highlight {
  color: $secondary-color;
}

.role {
  color: $light-grey;
  margin-bottom: 20px;
}

/****************
* ABOUT SECTION *
****************/

.about {
  position: relative;
  background-color: #000;
  // height: 500px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.arrow-down {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: $secondary-color;
  left: 50%;
  transform: translate(-50%, 0) rotate(90deg);
  top: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  img {
    width: 25px;
    height: 25px;
    transition: 0.3s ease-in-out;
  }
}

.arrow-down:hover {
  
  img {
    transform: translateX(5px);
  }
}

.about-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-top {
  margin-top: 60px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.about-top-left {
  width: 50%;
  margin: 0 auto;
  padding: 3rem 4rem;

  h2 {
    padding-bottom: 1rem;
    font-size: 2rem; 
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: $grey;
  }
}

.about-top-right {
  width: 50%;
  padding: 6rem 1rem;
  display: flex;
  justify-content: center;

  ul {
    padding: 0 20px;
    list-style: none;

    p {
      color: $secondary-color;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 0.9rem;
    }

    li {
      font-size: 0.9rem;
    }
  }

  ul:first-child {
    margin-right: 20px;
  }
}

.about-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  h3 {
    margin-right: 60px;
  }
}

.blogLink {

  h4 {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: $secondary-color;
  }

  a {
    font-size: 1.2rem;
    color: $grey;
    transition: 0.15s ease-in-out;
  }

  a:hover {
    color: #fff;
  }
}

/*******************
* PROJECTS SECTION *
*******************/

.projects {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #c7c7c7;
}

.projects-wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}

.projects__header-block {
  margin: 80px 0 80px;
  display: flex;
  justify-content: center;

  h1 {
    font-weight: 700;
    font-size: 35px;
    padding-right: 50px;
  }
}

.rw-cases {
  width: 100%;
  display: flex;
  margin-bottom: 80px;
}

.rw-case {
  width: calc(50% - 20px);
  max-width: 500px;
  background-color: $offwhite;
  position: relative;
  padding: 40px;
  transition: 0.3s ease-out;
  display: flex;
  overflow: hidden;

  .project-image {
    width: 40%;
    position: relative;

    img {
      width: 340px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.rw-case:hover {
  transform: translate(0%, -10px);

  a {
    color: #000;
  }
}

.rw-case-start {
  width: 60%;
  height: 100%;
  position: relative;
  
  h2 {
    margin: 30px 0 80px 0;
    font-size: 30px;
  }

  h3 {
    margin: 10px 0;
    color: $grey;
    font-size: 14px;
  }

  p {
    color: #000;
  }

  ul {
    display: inline-block;
  }

  li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
    font-size: .8rem;
    color: $dark-grey;
  }
}

.rw-case:first-child {
  margin-right: 80px;
}

.first-child-span {
  color: #3437e9;
}

.second-child-span {
  color: #ca2424;
}

.rw-case-vc-btn {
  display: inline-block;
  margin: 40px 0 10px;
  
  a {
    color: $dark-grey;
    font-size: 20px;
  }

  
}

/******************
* CONTACT SECTION *
******************/

.contact {
  width: 80%;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  text-align: center;

  h3 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .contact-btn {
    border: 1px solid $light-grey;
    border-radius: 60px;
    display: inline-flex;
    justify-content: center;
    
    a {
      transition: 0.2s ease-out;
      padding: 20px 30px;
    }

    a:hover {
      transform: scale(1.1);
    }
  }
}

/****************
* MEDIA QUERIES *
****************/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  //CSS
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /**********
  * LANDING *
  ***********/

  .container {
    // width: 90%;
    margin: 160px auto;
  }

  .hero {
    font-size: 46px;
  }


  /********
  * ABOUT *
  ********/

  .about {
    width: 100%;
  }

  /**********
  * PROJECT *
  **********/

  .projects-wrapper {
    padding: 0;
    align-items: center;
  }

  .rw-cases {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .rw-case {
    width: 65%;
    padding: 20px;
    margin: 20px 0;

    .rw-case-start {
      display: flex;
      flex-direction: column;
    }

    .project-image {
     
      img {
        width: 360px;
      }
    }
  }

  .rw-case:first-child {
    margin-right: 0;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  // CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /**********
  * LANDING *
  ***********/

  .container {
    width: 90%;
    margin: 160px auto;
  }

  .hero {
    font-size: 36px;
  }

  .role {
    font-size: .8rem;
    margin: 10px;
  }

  /********
  * ABOUT *
  ********/

  .about {
    width: 100%;
  }

  .about-container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .about-top {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .about-top-left {
    width: 100%;
    padding: 3rem 2rem; 
  }

  .about-top-right {
    width: 100%;
    padding: 0 1rem;
  }

  .about-bottom {
    margin: 50px 30px;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.1rem;
      margin: 0 0 20px;
    }
  }
  
  /**********
  * PROJECT *
  **********/

  .projects-wrapper {
    padding: 0;
    align-items: center;
  }

  .projects__header-block {
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    h1 {
      padding: 0 0 30px;
    }
  }

  .rw-cases {
    flex-direction: column;
    width: 90%;
  }

  .rw-case {
    width: 100%;
    padding: 20px;
    margin: 20px 0;

    h2 {
      font-size: 25px;
      margin: 30px 0 0;
    }

    .project-image {
     
      img {
        width: 200px;
      }
    }
  }

  .rw-case:first-child {
    margin-right: 0;
  }

  .rw-case-start {

    p {
      display: none;
    }
    ul {
      display: none;
    }
  }
}